@import "~bulma/bulma";

table.quota{
  tr{
    &.is-warning{
      background-color: $warning;
      color: $warning-invert;
    }
    &.is-danger{
      background-color: $danger;
      color: $danger-invert;
    }
  }
}
