@import "~bulma/bulma";

table.quota{
  tr{
    &.is-warning{
      background-color: $warning !important;
      color: $warning-invert !important;
    }
    &.is-danger{
      background-color: $danger !important;
      color: $danger-invert !important;
    }
  }
}
